.btnStart{
    margin: 10px;
    width: auto;                //Do not forget to adjust the 
    height:50px; 
}

.mat-icon{
    font-size:30px !important; //make it bigger, the default being 24px. 
    width:100%;                //Do not forget to adjust the 
    height:100%;  
}